*{
    margin: 0px;
    padding: 0px;
}
td{
    font-family: "lol";
}
    .contenedor{
    background-color: #051c24;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carta{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: white;
    color: black;
    border-radius: 20px;
}
.formacion{
    font-family: "lol";
    font-size: 25px;
}
.nombreFormacion{
    font-size: 20px;
}
.formulario{
    width: 400px;
}
.personaje{
    width: 100%;
    align-items: center;
}
.selector{
    width: 300px;
}
.linea{
    width: 50px;
    font-size: 20px;
    margin: 0px;
    font-family: "lol";
}
table {
    width: 100%;
}