@font-face {
    font-family: "lol";
    src: url(../assets/Font/LeagueOfLegends.ttf);
}

*{
    font-family: "lol";
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #051c24;
}
.principal{
    width: 100%;
}