*{
    margin:0px;
    padding:0px;
}
/* Boton Filtro de Linea */
.personajesSeccion{
    background-color: #051c24;
    display: flex;
    justify-content: center;
}
.botonPersonajes{
    font-size: 20px;
    margin: 15px;
    padding: 0px;
    height: 90px;
    width: 90px;
    background-color: #051c24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-color: #ecbd25;
    transition: 1s;
}
.botonPersonajes img{
    height: 70%;
    width: 70%;
}
.botonPersonajes:hover{
    background-color: rgb(236, 189, 37,0.8);
}
/* Champion Select */
.personajesLista{
    background-color: #051c24;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.personaje{
    display: flex;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    transition: 1s;
}
.personaje img{
    border-radius: 15px;
}
.tituloPersonaje{
    visibility: hidden;
}
.personaje:hover>.tituloPersonaje{
    position: absolute;
    visibility: visible;
    bottom: 0;
    width: 100%;
    color: white;
    background: rgb(0,0,0,.4);
    text-align: center;
}
.personaje:hover{
    transform: scale(1.2);
    border-color: #ecbd25;
    border-width: 3px;
    border-style: ridge;
}
.view{
    color: white;
    list-style: none;
    display: flex;
    width: 40px;
    justify-content: center;
    font-size: 18px;
}
.hide{
    display: none;
}