.carrusel{
    height: 500px;
}
.titulo{
    color: white;
    font-size: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    font-family: "lol";
}
.carruselImg{
    height: 950px;
}
.titulo h5{
    font-size: 90px;
    font-family: "lol";
    margin-bottom: 190px;
}