<h1 mat-dialog-title>Personaliza tu Formacion</h1>
<div class="card carta">
    <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h5 class="formacion cart-title mt-3 mb-4">Crea tu formación</h5>
    <form [formGroup]="registerForm" class="formulario d-flex flex-column align-items-center justify-content-center">
        <div class="nombre d-flex flex-column align-items-center justify-content-center mb-3">
            <label for="firstName" class="nombreFormacion form-label">Nombre de formación</label>
            <input [formControl]="nombreFormacionControl" class="form-control" type="text"/>
            <small class="text-danger" *ngIf="nombreFormacionControl.invalid && nombreFormacionControl.touched">Debe contener al menos 5 caracteres</small>
        </div>
        <div class="personaje d-flex mb-3 flex-column">
            <div class="d-flex">
                <h5 class="linea">
                    Top
                </h5>
                <select [formControl]="personajeTopControl" class="form-select mx-2 px-3 selector" >
                    <option value="">Selecciona un Personaje</option>
                    <option *ngFor="let personaje of personajes" value={{personaje.name}}>{{personaje.name}}</option>
                </select>
            </div>
            <small class="text-danger" *ngIf="personajeTopControl.invalid && personajeTopControl.touched">Este campo es requerido</small>
        </div>
        <div class="personaje d-flex mb-3 flex-column">
            <div class="d-flex">
                <h5 class="linea">Jg</h5>
                <select [formControl]="personajeJgControl" class="form-select mx-2 px-3 selector" >
                    <option value="">Selecciona un Personaje</option>
                    <option *ngFor="let personaje of personajes" value={{personaje.name}}>{{personaje.name}}</option>
                </select>
            </div>
            <small class="text-danger" *ngIf="personajeJgControl.invalid && personajeJgControl.touched">Este campo es requerido</small>
            <!-- <small class="text-danger" *ngIf="personajeJgControl === personajeTopControl">No puede elegir el mismo heroe</small> -->
        </div>
        <div class="personaje d-flex mb-3 flex-column">
            <div class="d-flex">
                <h5 class="linea">Mid</h5>
                <select [formControl]="personajeMidControl" class="form-select mx-2 px-3 selector" >
                    <option value="">Selecciona un Personaje</option>
                    <option *ngFor="let personaje of personajes" value={{personaje.name}}>{{personaje.name}}</option>
                </select>
            </div>
            <small class="text-danger" *ngIf="personajeMidControl.invalid && personajeMidControl.touched">Este campo es requerido</small>
        </div>
        <div class="personaje d-flex mb-3 flex-column">
            <div class="d-flex">
                <h5 class="linea">ADC</h5>
                <select [formControl]="personajeADCControl" class="form-select mx-2 px-3 selector" >
                    <option value="">Selecciona un Personaje</option>
                    <option *ngFor="let personaje of personajes" value={{personaje.name}}>{{personaje.name}}</option>
                </select>
            </div>
            <small class="text-danger" *ngIf="personajeADCControl.invalid && personajeADCControl.touched">Este campo es requerido</small>
        </div>
        <div class="personaje d-flex mb-3 flex-column">
            <div class="d-flex">
                <h5 class="linea">Supp</h5>
                <select [formControl]="personajeSuppControl" class="form-select mx-2 px-3 selector" >
                    <option value="">Selecciona un Personaje</option>
                    <option *ngFor="let personaje of personajes" value={{personaje.name}}>{{personaje.name}}</option>
                </select>
            </div>
            <small class="text-danger" *ngIf="personajeSuppControl.invalid && personajeSuppControl.touched">Este campo es requerido</small>
        </div>
        <div class="d-flex flex-column mb-3">
            <input class="btn btn-primary mb-2 px-2 py-1" type="reset" value="Reset">
            <button [disabled]="registerForm.invalid" class="btn btn-primary px-2 py-1" type="submit" [mat-dialog-close]="registerForm.value">Guardar Formación</button>
        </div>
    </form>
    </div>
</div>